PORT=5000

# Local MongoDB Connection:
MONGODB_URI=mongodb://localhost:27017/library_db

# MongoDB Atlas Cloud Connection Format:
# MONGODB_URI=mongodb+srv://vikashkumarsharma09998_db_user:1n6RgPtqBQIgs8Ps@cluster0.20csaea.mongodb.net/library_db?retryWrites=true&w=majority

SESSION_SECRET=supersecretlibrarykey123
NODE_ENV=development
